.comparison_envy_so_s1
{  
  background: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/session_end/comparison_envy.png') no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */ 
  min-height: 100vh;   
}

.anger_so_s1
{  
  background: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/session_end/anger.png') no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */ 
  min-height: 100vh; 
}

.conditioning_so_s1
{  
  background: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/session_end/conditioning.png') no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */ 
  min-height: 100vh; 
}

.criticism_so_s1
{  
  background: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/session_end/criticism.png') no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */ 
  min-height: 100vh; 
}

.fear_anxiety_so_s1
{  
  background: url(https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/session_end/fear_anxiety.png) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */ 
  min-height: 100vh;   
}

.stress_so_s1
{  
  background: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/session_end/stress.png') no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */ 
  min-height: 100vh;   
}

.green_yellow_so_s1
{  
  background: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/wave/green_yellow/green_yellow_01.jpg') no-repeat center center fixed !important;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */
  min-height: 100vh;
}

.purple_blue_so_s1
{  
  background: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/wave/purple_blue/purple_blue_01.jpg') no-repeat center center fixed !important;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */
  min-height: 100vh;
}

.pink_orange_so_s1
{  
  background: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/wave/pink_orange/pink_orange_01.jpg') no-repeat center center fixed !important;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */
  min-height: 100vh;
}

.blue_pink_so_s1
{  
  background: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/wave/blue_pink/blue_pink_01.jpg') no-repeat center center fixed !important;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */
  min-height: 100vh;
}

.red_pink_so_s1
{  
  background: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/wave/red_pink/red_pink_01.jpg') no-repeat center center fixed !important;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */
  min-height: 100vh;
}

.green_so_s1
{  
  background: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/wave/green/green_01.jpg') no-repeat center center fixed !important;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */
  min-height: 100vh;
}

.light_blue_so_s1
{  
  background: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/wave/light_blue/light_blue_01.jpg') no-repeat center center fixed !important;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */
  min-height: 100vh;
}

.purple_red_so_s1
{  
  background: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/wave/purple_red/purple_red_01.jpg') no-repeat center center fixed !important;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */
  min-height: 100vh;
}

.teal_so_s1
{  
  background: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/wave/teal/teal_01.jpg') no-repeat center center fixed !important;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */
  min-height: 100vh;
}

.dark_blue_so_s1
{  
  background: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/wave/dark_blue/dark_blue_01.jpg') no-repeat center center fixed !important;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */
  min-height: 100vh;
}

.purple_so_s1
{  
  background: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/wave/purple/purple_01.jpg') no-repeat center center fixed !important;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */
  min-height: 100vh;
}

.blue_so_s1
{  
  background: url('https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/images/background/wave/blue/blue_01.jpg') no-repeat center center fixed !important;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover !important;
  -o-background-size: cover;
  font-family: 'Roboto', sans-serif;
  /* z-index: 9; */
  min-height: 100vh;
}