<!-- top navigation -->
<div class="top_nav ml0 ctopnav">
  <div class="nav_menu cnav_menu p20px mb0px tn_padding tn_story_submit">

    <nav class="flex_ai">
      <ul class="nav navbar-nav navbar-right cnav navleft w20p no_bg">
        <li class="">
          <a (click)="goBack()" class="cuser-profile dropdown-toggle p0" data-toggle="dropdown" aria-expanded="false">
            <img src="https://humanwisdoms3.s3.eu-west-2.amazonaws.com/assets/svgs/icons/ws_back_white.svg" alt=""
              class="p0">
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right cnav navcenter w60p nbg_white">
        <li class="mr0px">
          <a class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <h6 class="txt88">
              Registration - 2/3
            </h6>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col ml0 pt_rightcol" role="main">
  <!-- Class -->
  <div class="cw100p">
    <div class="row drow center_flex">
      <div class="col-md-6 col-sm-8 col-xs-12 p0">
        <div class="x_panel p0">
          <div class="x_content p0">
            <form [formGroup]="professionalInfo">

              <br>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h4 class="txt160 mb0px">
                    Personal Information
                  </h4>

                  <h6 class="txt120 mtb5px">
                    All fields are compulsory
                  </h6>
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" formArrayName="qualification"
                  *ngFor="let item of professionalInfo.controls['qualification'].controls; let i = index">
                  <div [formGroupName]="i">
                    <input type="text" formControlName="name" required="required" class="coach_fc_01"
                      placeholder="Qualification">
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt163" (click)="addNext(0)">
                    Add More
                  </h6>
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <select class="form-control coach_fc_01" formControlName="Coach_Specializations">
                    <option>Expertise (check all that apply)</option>
                    <option>Option one</option>
                    <option>Option two</option>
                    <option>Option three</option>
                    <option>Option four</option>
                  </select>
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt158 mt0px">
                    Work Experience
                  </h6>
                </div>
              </div>
              <div formArrayName="Coach_WorkExp" *ngFor="let item of professionalInfo.controls['Coach_WorkExp'].controls; let i = index">
                <div [formGroupName]="i">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <input type="text" required="required" formControlName="InstituteName" class="coach_fc_01"
                        placeholder="Place of Work">
                    </div>
                  </div>

                  <br>

                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <select class="form-control coach_fc_01" formControlName="City">
                        <option>City</option>
                        <option>Option one</option>
                        <option>Option two</option>
                        <option>Option three</option>
                        <option>Option four</option>
                      </select>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <select class="form-control coach_fc_01" formControlName="Country">
                        <option>Country</option>
                        <option>Option one</option>
                        <option>Option two</option>
                        <option>Option three</option>
                        <option>Option four</option>
                      </select>
                    </div>
                  </div>

                  <div class="row pt30px dflex">
                    <div class="col-md-2 col-sm-2 col-xs-3">
                      <input type="text" required="required" formControlName="From_Year" class="coach_fc_01 tcenter"
                        placeholder="Year">
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-3 year_month">
                      <input type="text" required="required" formControlName="From_Month" class="coach_fc_01 tcenter"
                        placeholder="Month">
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-1 p0 center_flex">
                      <h4 class="txt145">
                        to
                      </h4>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-3">
                      <input type="text" required="required" formControlName="To_Year" class="coach_fc_01 tcenter"
                        placeholder="Year">
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-3 year_month">
                      <input type="text" required="required" formControlName="To_Month" class="coach_fc_01 tcenter"
                        placeholder="Month">
                    </div>
                  </div>

                  <br>

                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="checkbox">
                        <label class="coach_check mt0px">
                          <input type="checkbox" name="remember" formControlName="IsCurrent" [value]="'1'" />
                          <span class="">
                            <span class="txt65 pl0_3rem">
                              I currently work here
                            </span>
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <br>
                </div>
              </div>


              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt163" (click)="addNext(1)">
                    Add more Work Experience
                  </h6>
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt158 mt0px mb5px">
                    Certifications
                  </h6>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt120 mtb0px">
                    In order to be a coach on this platform, it is mandatory to be certified by the Human Wisdom
                    Program.
                    <span class="txt155">
                      Find out more about Human Wisdom Coach Certification here
                    </span>
                  </h6>
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0" formArrayName="certificate" *ngFor="let item of professionalInfo.controls['certificate'].controls; let i = index">
                  <div [formGroupName]="i">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <input type="text" id="{{i + 'text'}}" required="required" class="coach_fc_01" placeholder="Certification - jpg / png / pdf" readonly>
                      <input type="file" id="{{i + 'file'}}" required="required" 
                       class="coach_fc_01" placeholder="Certification - jpg / png / pdf" (change)="handleFileInput($event, i + 'text')" style="visibility: hidden; width: 0px; height: 0px;">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <button type="submit" (click)="clickuploadimage(i + 'file')"
                        class="btn btn-warning btn_upload w100">
                        Upload
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt163" (click)="addNext(2)">
                    Add More
                  </h6>
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt158 mt0px mb5px">
                    Links
                  </h6>
                </div>
              </div>

              <br>

              <div class="row">
                <div formArrayName="link" *ngFor="let item of professionalInfo.controls['link'].controls; let i = index">
                  <div class="col-md-12 col-sm-12 col-xs-12" [formGroupName]="i">
                    <input type="text" formControlName="name" required class="coach_fc_01" placeholder="Website">
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt163 mb5px" (click)="addNext(3)">
                    Add More
                  </h6>

                  <h6 class="txt65 mt0px tleft">
                    (website, social media, etc)
                  </h6>
                </div>
              </div>

              <div class="row pt30px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <h6 class="txt120 tcenter">
                    Page 2 of 3
                  </h6>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button type="submit" (click)="nextRoute()" [disabled]="professionalInfo.invalid" class="btn btn-warning btn_coach_continue w100">
                    Continue
                  </button>
                </div>
              </div>

              <!-- <div class="row pt10px">                  
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button type="submit" class="btn btn-warning btn_save_later w100">
                    Save for Later
                  </button>  
                </div>
              </div> -->

              <div class="pagebreak"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->